/*Colors*/

$primary-color: #048246;
$border-color:#0a9452;
$secondary-color: #7F8C8D;
$active-color: #405B75;
$ascent-1-color: #2980B9;
$ascent-2-color: #F39C12;
$contraste:#f77d09;
$ascent-3-color: #C0392B;
$ascent-4-color: #1D2A37;
$ascent-5-color: #131C24;
$verde-2ck-escuro:#048145;
$verde-2ck-claro: #63c63e;
$dark-green:#0e4f1d;
$branco: white;
$preto: preto;