.topbar {
  background-color: $primary-color;
  color: $branco !important;
  height: 30px;
  margin-bottom: 0px;

  a {
    color: $branco !important;
  }

  .ui.horizontal.list {
    padding-top: 5px;

    span.text,
    .menu {
      @media screen and (max-width: $mobile-bp) {
        display: none;
      }
    }
  }

  .menu {
    background: #1b1c1d !important;

    .item {

      &:hover {
        background: #3f4041 !important;
      }
    }
  }

  .ui.pointing.dropdown {

    > .menu::after {
      background: #1b1c1d;
    }
  }

  .ui.grid > .row {
    padding: 0.2em 0em;
  }

  socialbar {

    a {
        border-right: 1px solid $border-color;
        padding: 8px 5px 5px 10px;

       &:first-child{
        border-left: 1px solid $border-color;
       }  
      }

    a:hover {

            background: $branco;

      .facebook {
      color: #3b5998;

    }

    .twitter {
      color: #55acee;

    }

    .instagram {
      color: #e95950;
    }

    .youtube {
      color: #bb0000;
    }

    .whatsapp {
      color: #4dc247;
    }

    .vimeo {
      color: #162221;
    }

    .wordpress {
      color: #21759b;
    }

    .pinterest {
      color: #cb2027;
    }

    .googlemais {
      color: #dd4b39;
    }
    }

    .fa {
      margin-right: 5px;
    }

    
  }
}

